.map{
display: inline-block;
justify-content: space-between;
width: 700px;
margin: auto;
padding-top: 50px;
}

.map hr{
    background-color: #2775ad;
    border-color: #2775ad;
    width: 700px;
    height: 5px;
    margin-top: 50px;
}
@media only screen and (max-width:600px) {
    .map{
        display: inline-block;
        width: 400px; 
    }

    .map hr{
        width: 400px;
    }



}
