.header{
    position: fixed;
    background-color: #f7f5ee;
    width: 100%;
    /* z-index: 1000; */

}

.lifeforthospital{
    max-width: 10%;
    padding-right: 80%;
    padding-top: 10px;
}
.phone{
    display:flex;
    margin-left: 1330px;
    margin-bottom:  -10px;
}

.email{
    display:flex;
    margin-left: 1395px;

}

.contact-us{
    margin-top: -80px;
}


@media only screen and (max-width:600px) {
    .header{
        position: fixed;
        width: 100%;
    
    }
    
    .lifeforthospital{
        width: 8%;
        padding-right: 90%;
        margin-top: 10px;
    }

    .phone{
        display:flex;
        margin-left: 258px;
        font-size: small;

    }
    
    .email{
        display:flex;
        margin-left: 310px;
        font-size: small;
    
    }
    .contact-us{
        margin-top: -65px;
    }
    
  
  } 

/* @media only screen and (min-width:1200px){
    body {
        max-width: 100%;
        max-height: 100%;
    }
 }
 
 @media only screen and (min-width:768px){
    .lifeforthospital{
        max-width: 18%;
        padding-right: 70%;
        margin-top: 10px;
    }

    .phone{
        display:flex;
        margin-left: 208px;
        font-size: small;

    }
    
    .email{
        display:flex;
        margin-left: 260px;
        font-size: small;
    
    }
    .contact-us{
        margin-top: -65px;
    }
   
 }


 @media only screen and (min-width: 412px){
    .lifeforthospital{
        max-width: 18%;
        padding-right: 50%;
        margin-top: 10px;
    }

    .phone{
        display:flex;
        margin-left: 250px;
        font-size: small;

    }
    
    .email{
        display:flex;
        margin-left: 304px;
        font-size: small;
    
    }
    .contact-us{
        margin-top: -65px;
    }
    
 } */


  
 

  /* @media only screen and (max-width:400px) {
    .lifeforthospital{
        max-width: 18%;
        padding-right: 70%;
        margin-top: 10px;
    }

    .phone{
        display:flex;
        margin-left: 220px;
        font-size: small;

    }
    
    .email{
        display:flex;
        margin-left: 273px;
        font-size: small;
    
    }
    .contact-us{
        margin-top: -65px;
    }
    
  
  }   */