.header{
    position: fixed;
    background-color: #f7f5ee;
    width: 100%;
  

}

.lifeforthospital{
    width: 10%;
    padding-right: 80%;
    padding-top: 10px;
}
.phone{
    display:flex;
    margin-left: 1330px;
    margin-bottom:  -10px;
}

.email{
    display:flex;
    margin-left: 1395px;

}

.contact-us{
    margin-top: -80px;
}

.hamburger{
    display: none;
}




@media only screen and (max-width:600px) {
    .header{
        position: fixed;
        height: 10%;
        width: 100%;
        /* margin: 1px;  */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .lifeforthospital{
        width: 80px;
         padding-left: 20px;
        /* margin-top: 5px;  */
    }

    .phone{
        /* display:flex; */
        /* width: 33%; */
        margin-left: auto;
        margin-right: 1%;
        font-size: small;

    }
    
    .email{
        /* display:flex; */
        /* width: 33%; */
        margin-left: 52px;
        /* margin-right: -11.5%; */
        font-size: small; 
    }
    .contact-us{
        width: 160px;
        margin-top: 0px;
        display: none;
    }
    .hamburger{
        position: relative;
        display: block;
        width: 35px;
        cursor: pointer;
        max-width: 35px;
        

        margin-right: 100px;
    
        appearance: none;
        background: none;
        outline: none;
        border: none;
    }
    
    .hamburger .bar, .hamburger::after, .hamburger::before{
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        background-color: #2775ad;
        margin: 6px 0px;
        transition: 0.4s;
    }
    
    .hamburger.is-active::before  {
        transform: rotate(-45deg) translate(-8px, 6px);
    
    }
    
    .hamburger.is-active::after{
        transform: rotate(45deg) translate(-9px, -8px);
    }
    
    .hamburger.is-active .bar{
        opacity: 0;
    }
    

}

@media only screen and (max-width:1024px) and (min-width: 601px)   {
    .header{
        position: fixed;
        background-color: #f7f5ee;
        width: 100%;
        height: 10%;
    }

    .lifeforthospital{
        width: 12%;
        padding-right: 80%;
        padding-top: 10px;
    }


    .contact-us{
        width: 50%;
        height: 90px;
        margin-left: auto;
        margin-top: -90px;
    }
    .phone{
        display:flex;
        margin-left: 220px;
        margin-bottom:  -10px;
    }

    .email{
        display:flex;
        margin-left: 284px;
    }

   
    

    

}
