.fotter{
    /* display: flex; */
    /* background-color: #3d88ba; */
    background-image: url("../../assets/image/Black-mother-and-baby.jpg");
    background-size: cover;
    height: 100%;
    margin-top: 100px;
    background-position: center ;

}

.fotterWriteUp, h{
    font-family: p22-mackinac-pro;
    font-size: 15px;
    line-height: 50px;
    color: rgb(255, 255, 255)
}

.communication-button{
    margin-top: 90px;
    margin-right: 200px;   
}

.address{
    display:flex;
    margin-left: 100px;
    margin-top: 50px;

}

.address img{
    padding-top: 15px;
    
}

.address p{
    color: #f7f4f4;
    padding-left: 20px;
    font: trade-gothic-next;
    text-align: start;
    
}   

.belowFotter{
    background-color: #00283d;
    max-height: 100px;
}

.belowFotter h2{
    margin: 0px;
    padding: 0px; 
    display: inline;  
    color: #ffffff ;     
}

.lifefort{
    margin-right: 900px;
    padding-top: 30px;
}