.fotter{
    
    /* background-color: #3d88ba; */
    background-image: url("../../assets/image/Black-mother-and-baby.jpg");
    /* background-size: cover;
    height: 100%;
    margin-top: 100px;
    background-position: center ; */
    /* background-attachment: fixed; */
    
}

.fotterWriteUp, h{
    font-family: p22-mackinac-pro;
    font-size: 15px;
    line-height: 50px;
    color: rgb(255, 255, 255)
}

.communication-button{
    margin-top: 90px;
    margin-right: 200px;   
}

.address{
    display:flex;
    margin-left: 100px;
    margin-top: 50px;

}

.address img{
    padding-top: 15px;
    
}

.address p{
    color: #f7f4f4;
    padding-left: 20px;
    font: trade-gothic-next;
    text-align: start;
    
}   

.belowFotter{
    background-color: #00283d;
    max-height: 100px;
}

.belowFotter h2{
    margin: 0px;
    padding: 0px; 
    display: inline;  
    color: #ffffff ;     
}

.lifefort{
    margin-right: 900px;
    padding-top: 30px;
}

.fotter h1{
    color: #f0f0f0;
}

.phone-number{
    color: #f7f4f4;
    background-color: #2775ad;
    margin-left: 200px;
    border-radius: 6px;
    height: 50px;
    font: 'trade-gothic-next';
    font-size: 13px;
    font-weight: '700';
}
.email-address{
    color: #f7f4f4;
    background-color: #2775ad;
    margin-left: 100px;
    border-radius: 6px;
    height: 50px;
    font: 'trade-gothic-next';
    font-size:13px;
    font-weight:700 ;
}
.address img{
    height: 18px;
    
}

.policy{
    margin-left: 700px;
}
.vision{
    color: #f0f0f0;
    font-size: 20px;
}

@media only screen and (max-width:600px) {
    
    .fotter{
        background-image: url("../../assets/image/mother\ and\ child.jpg");
        width: 100%;
        height: 100%;
        border: 1px black solid;
        margin-top: 20px;  
    }

    .fotterWriteUp h1{
        font-family: p22-mackinac-pro;
        font-size: 25px;
        line-height: 35px;
        color: rgb(255, 255, 255)
    }

    .phone-number{
        color: #f7f4f4;
        background-color: #2775ad;
        border-radius: 6px;
        height: 25px;
        font-weight: 700;
        font-size: 15px;
        margin-left: -30px;  
    }
    .email-address{
        color: #f7f4f4;
        background-color: #2775ad;
        margin-left: 100px;
        border-radius: 6px;
        height: 40px;
        font: 'trade-gothic-next';
        font-size:13px;
        font-weight:700 ;
        margin-right: auto;
    }
    .communication-button{
       display: none;
    }

   

    .address{
        display:flex;
        margin-top: 50px;
        margin-left: 10px;
        font-size: 17px;
    }

    .policy{
        display: none;
        margin: 0px;
    }

    .vision-top h2{
        
    }
    .vision{
    padding: 5px;
    }

       

    .lifefort{
        display: inline;
        width: 100%;
        margin: 0px;
    }
    
    .belowFotter h2{

        margin: 0px;
        padding: 0px; 
        display: inline;  
        color: #ffffff ;  
        font-size: large;   
    }
    

   

}

@media only screen and (max-width:1024px) and (min-width: 601px)   {
    .fotter{
        /* background-color: #3d88ba; */
        background-image: url("../../assets/image/Black-mother-and-baby.jpg"); 
        background-size: cover;
        min-height: 382px;
        margin-top: 13px;
        background-position: center ; 
        /* background-attachment: fixed; */
        /* height: auto; */
        width: 100%;
    }
    .address{
        display:flex;
        margin-left: 1px;
        margin-top: -192px;
        width: 100%;
        height: 200px ;
        overflow: hidden;
        padding-top: -6px;
        
    }
    .address p{
        display: contents;
        color: #f7f4f4;
        padding-left: 20px;
        font: trade-gothic-next;
        text-align: start;
    }   
    .policyd{
        padding-left: 274px;
    }
   
    .belowFotter{
        background-color: #00283d;
        max-height: 100%;
    }

    .communication-button{
        margin-top: 155px;
        width: 100%;
    }
    

    .phone-number{
        color: #f7f4f4;
        background-color: #2775ad;
        margin-left: 0px;
        border-radius: 6px;
        height: 50px;
        font: 'trade-gothic-next';
        font-size: 13px;
        font-weight: '700';
    }


    .email-address{
        color: #f7f4f4;
        background-color: #2775ad;
        margin-left: 145px;
        border-radius: 6px;
        height: 50px;
        font: 'trade-gothic-next';
        font-size:13px;
        font-weight:700 ;
    }
    .vision{
        color: #f0f0f0;
        font-size: 20px;
    }
    
  
}