.fotter{
    /* display: flex; */
    /* background-color: #3d88ba; */
    background-image: url("../../assets/image/Black-mother-and-baby.jpg");
    background-size: cover;
    height: 100%;
    margin-top: 100px;
    background-position: center ;
    background-attachment: fixed;
    
}

.fotterWriteUp, h{
    font-family: p22-mackinac-pro;
    font-size: 15px;
    line-height: 50px;
    color: rgb(255, 255, 255)
}

.communication-button{
    margin-top: 90px;
    margin-right: 200px;   
}

.address{
    display:flex;
    margin-left: 100px;
    margin-top: 50px;

}

.address img{
    padding-top: 15px;
    
}

.address p{
    color: #f7f4f4;
    padding-left: 20px;
    font: trade-gothic-next;
    text-align: start;
    
}   

.belowFotter{
    background-color: #00283d;
    max-height: 100px;
}

.belowFotter h2{
    margin: 0px;
    padding: 0px; 
    display: inline;  
    color: #ffffff ;     
}

.lifefort{
    margin-right: 900px;
    padding-top: 30px;
}

.fotter h1{
    color: #f0f0f0;
}

.phone-number{
    color: #f7f4f4;
    background-color: #2775ad;
    margin-left: 200px;
    border-radius: 6px;
    height: 50px;
    font: 'trade-gothic-next';
    font-size: 13px;
    font-weight: '700';
}
.email-address{
    color: #f7f4f4;
    background-color: #2775ad;
    margin-left: 100px;
    border-radius: 6px;
    height: 50px;
    font: 'trade-gothic-next';
    font-size:13px;
    font-weight:700 ;
}
.address img{
    height: 18px;
    
}

.policy{
    margin-left: 700px;
}
.vision{
    color: #f0f0f0;
    font-size: 20px;
}

@media only screen and (max-width:600px) {
    .fotter{
        /* display: flex; */
        /* background-color: #3d88ba; */
        background-image: url("../../assets/image/Black-mother-and-baby.jpg");
        width: 100%;
        height: 10%;
        border: 1px black solid;
        

   
    }

}