.unique-care{
    display: flex;
    align-items: center;
    width: 800px;
    justify-content: space-between;
    margin: auto;
    padding: 40px 0px;
}


.children-image{
    width: 400px;
    height: 300px;
    /* padding-right: 40%; */
}

.unique-writeup{
    width: 300px;

}
#0{
 background-color: rgb(180, 125, 57);  
 font-family: 'p22-mackinac-pro'; 
 font-size: xx-large;

}   