ul,ol{

    list-style: none;
    padding-right: 30%;
    margin: 0%;
}

#list{
   margin-left: 80px;
}

ul li a {
    color: #f7f4f4;
    text-decoration:none; 
  }

 li {
    display: inline;
    margin-right: 20px;
    font-size: large;
    color: white;

 }
 .description {
   display: flex;
   align-items: center;
   height: 40px;
    background-color: rgb(18, 1, 80);
    size: 100px;
 }
 
 .facebook-icon,
 .instagram-icon,
 .x-icon{
   width: 20px;
   height: auto;
   padding-left: 40px;

 }

 @media only screen and (max-width:600px) {
   .description{
      display: none;
   }

   /* .facebook-icon,
 .instagram-icon,
 .x-icon{
   display: none;

 } */
}



