.mobile-display{
    display: none;
}
@media screen and (max-width: 600px) {

    .about{
        margin-right:auto;
        margin-left: auto;
        padding: 5px;  
        margin-top: 20px;
    }
    .web-display{
        display: none;
    }
    .mobile-display{
        display: inline;
    }    
}

@media only screen and (max-width:1024px) and (min-width: 601px)   {
    .about{
        margin-top: 10px;

    }
      
}
