.mobile-display{
    display: none;
}
@media screen and (max-width: 600px) {

    .about{
        border: 1px solid;
        border-color: black;
        margin-right:auto;
        margin-left: auto;
        padding: 5px;  
    }
    .web-display{
        display: none;
    }
    .mobile-display{
        display: inline;
    }    
}