

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f7f5ee;
    max-width: 100%;
    
    
}

.below-header{
    padding-top: 10%;
}


@media only screen and (max-width: 600px) {
    .below-header{
        padding-top: 100px;
    }
    
}

